@import '../../common/style/_var.styl';
.v-btn{
	width: 160px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: $theme-color;
	color: #fff;
	border-radius: 20px;
	cursor: pointer;
	&.v-btn-small{
		width: 86px;
	}
	&.v-btn-normal{
		width: 160px;
	}
	&.v-btn-big{
		width: 200px;
		height: 48px;
	}
	&:hover{
		background-color: $theme-active-color;
	}
}
